:root {
    --orange: rgb(254, 133, 72);
    --midnight: midnightblue;
    --background: rgb(216, 216, 216);
}

*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

html {
    scroll-behavior: smooth;
  }

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.myWork {
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
}

.titles {
    display: flex;
    flex-direction: column;
}

nav ul li {
    list-style-type: none;
}

.myPicture {
    width: 150px;
    height: auto;
    display: block;
    margin: auto;
}

header {
    background-color: var(--orange);
}

body {
    background-color: var(--background);
}

h1 {
    background-color: var(--orange);
    color: var(--midnight)
}

h2 {
    color: var(--midnight);
}

.proj {
    width: 15%;
    margin: 0 10px 0 10px;
}

#proj1{
    background-image: url(../images/beach.jpeg);
    background-size: cover;
    height: 300px;
    /* flex: 3; */
}

#proj2{
    background-image: url(../images/sky.jpeg);
    background-size: cover;
}

#proj3{
    background-image: url(../images/starry-sky.webp);
    background-size: cover;
}


/* mobile/global view */
@media screen and (max-width: 768px){
    .myWork {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    } 

    .proj {
        width: 100%;
        margin: 10px;
        color: var(--background);
    }
}

/* tablet view */
@media screen and (min-width: 768px){
    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0px 10px 0px 10px;
    }

    .proj {
        width: 100%;
        margin: 10px;
        color: var(--background);
    }
}

/* desktop view */
@media screen and (min-width: 992px){
    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0px 10px 0px 10px;
    }

    .myWork {
        display: flex;
        justify-content: space-between;
    }
}